# Default ignored files
/shelf/
/workspace.xml
.idea
credentials.json
token.pickle
token_write.pickle
coinbaseCredentials.py
.gitignore
binanceCredentials.py
coinbasescan.py
__pycache__/
/ScannerBot/binanceCredential.py
